<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Free Weed Pics</title>
    <link rel="icon" href="/assets/images/fwpIconBase.png" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Fugaz+One|Shrikhand" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/evelyn.css">
    
</head>
<body>

  {{body}}

</body>