
  <header>
    <div class="title">
      <h1>free weed pics</h1>
    </div>
  </header>

  <main>
    <form action="/login" method="post">
      <input placeholder="Username" type="textarea" name="username">
      <input placeholder="Password" type="textarea" name="password">
      <button type="submit" class="btn">submit</button>
    </form>
  </main>
