<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Free Weed Pics</title>
    <link rel="icon" href="/assets/images/fwpIconBase.png" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin+Condensed|Fugaz+One|Shrikhand" rel="stylesheet">
    

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/public/assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/assets/css/main.css">
</head>
<body>
<div id="app" v-cloak>
  <div class="header">
      <h1>free weed pics</h1>
  </div>
  <div class="main">

    <div class="dashboard">
      
    </div>

    <div class="uploaded">
        <div v-if="loading">
            Loading...
        </div>
        <div class="seach-results" v-else>
            Showing {{ items.length }} of {{ results.length }} results for uploaded images.
        </div>

        <div class="product" v-for="(item, index) in items">
            <div>
                <div class="product-image">
                    <img v-bind:src="item.link">
                </div>
            </div>
            <div>
                <h4 class="product-title">{{ item.title }}</h4>
                <!-- ${{ created_at | moment("dddd, MMMM Do YYYY, h:mm:ss a") }} -->
                <p><strong>${{ price | currency }}</strong></p>
                <button v-on:click="addItem(index)" class="add-to-cart btn">Edit</button> 
            </div>
        </div>

        <div id="product-list-bottom">
            <div v-if="noMoreItems">
                <h4>No more images Ev!</h4>
            </div>
        </div>
    </div>

  </div>
</div>

<!-- Scripts -->
<script src="reload/reload.js"></script>
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
